@import "tailwindcss";

.fc-daygrid-day-frame {
    position: relative !important;
    height: 100% !important;
}
.fc-daygrid-day-events {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}
.fc-daygrid-event-harness {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: 0 !important;
}
.fc-daygrid-event {
    border-radius: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 100% !important;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-weight: bold !important;
    font-size: 1.25rem !important;
}
.fc-event {
    cursor: default !important;
}
.fc-daygrid-day-top {
    position: relative !important;
    z-index: 10 !important;
}